@charset "utf-8";

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    -webkit-tap-highlight-color: transparent;

    &.no-scroll {
        overflow: hidden;
        position: relative;
    }
}


a {
    text-decoration: none;
    max-height: 100%;
}

p,
div,
section,
header,
footer {
    box-sizing: border-box;
    max-height: 99999rem;
}